/*
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

    body{
    font-family:'Montserrat',sans-serif;		
    }

    */

/* i think this code aint workin*/
body{
    font-family:'Montserrat',sans-serif;	
}
li.important{
    list-style-type: none !important;
    text-transform: uppercase;
}
.card a {
    /* card overrides a so you need to nest a inside of .card */
    text-decoration: none;
}
            .custom-opacity {
                background-color: rgba(0, 0, 0, 0.5); /* Change opacity value as needed */
            }

            .awesome{
                color: orange;
                font-weight: bold;
            }

            .grid-container{
                display:grid;
                height: auto; 
                padding:5px;
                grid-template-columns: auto auto auto auto auto;
                grid-gap: 1px;
            }

            .grid-item{
                display: inline-grid;
                background-color:white;
                padding: 20px;
                height:200px;
            }
                
            @media (max-width:720px){
                .grid-container{grid-template-columns:auto auto auto auto;}
            }

            @media (max-width:540px){
                .grid-container{grid-template-columns:auto auto auto;}
            }
                
                /*Spacing:  https://www.w3schools.com/bootstrap4/bootstrap_utilities.asp*/
                @media (min-width: 576px){		.card-columns{ column-count: 2;	}		}
                @media (min-width: 768px){		.card-columns{ column-count: 3;	}		}
                @media (min-width: 992px){		.card-columns{ column-count: 4;	}		}
                /*@media (min-width: 1200px){		.card-columns{ column-count: 4;	}		WHY DOESNT THIS WORK?}*/



                /*Tiny Navbar for Phone*/ 
                @media screen and (max-width: 992px) {
                    .nav a {
                        /*font-size: 8px;*/
                        font-size: 1rem;
                      }


                }
                